      <div class="p1"> 
          <p>
              Hey! My name is Sameeha Imtiaz. Welcome to my website! Heres a bit about me. Im a Pakistani Canadian, having grown up entirely in Ontario. I have 1 older and 2 younger sisters. I am currently attending Ontario Tech University's program: Networking and Information Technology Security. Im an amateur programmer who mainly works with Python. I enjoy tackling new projects and learning along the way, so my recent work with HTML and CSS has also been very fun! I hope to become more experienced in networking, and eventually work in the cybersecurity field. Outside of work and school, you might find me watching live streams of games like Valorant, cooking or baking, or playing Zelda Breath of the Wild and Assassins Creed Odyssey. I also like soccer and volleyball, though you wont find me playing much. Feel free to browse this site to see what I've been up to!
          </p>
      </div>
      <hr class="bar">


