    <h1 class="h2">Contact Me!</h1>
    <div class="form">
    <form action="mailto:sameehai2005@gmail.com" method="post">
        <div class="full">
            <label for="name">Full Name:</label>
            <input type="text" id="name" placeholder="john doe" required>
        </div>  
        <br>
        <div class="Mail">
            <label for="email">Email:</label>
            <input type="email" id="email" placeholder="john.doe@gmail.com" required>
        </div>  
        <br>
        <div>
            <label for="comments">Comments:</label>
            <textarea style="height: 200px;" placeholder="Write any comments here..."></textarea>
        </div> 
        <div class="submit">
            <input type="submit" value="Submit">
        </div>
    </div> 
