       <p class="p5">
            Here are some projects I've done:
        </p>
    </div>
    <div>
            <a href="https://www.canva.com/design/DAEkxdY36_8/mfcuY6jt03pexAQd5NmXIA/edit?utm_content=DAEkxdY36_8&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton" target="_blank">
            <p class="p6">
                This is my resume:
                </p>
            </a>
    </div>
        <a href="https://docs.google.com/presentation/d/1WjEvgcR22JJ1bu2kpI0HIvvRMItq2zrhlWYJ4Gj8hS4/edit?usp=sharing" target="_blank">
        <p class="p6">
            This is a poetry analysis:
        </p>
        </a>
    <div>
        

    </div>
    