html, body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  flex-grow: 1;
}

.navbar-nav {
  display: flex;
  justify-content: space-between; /* Spread items evenly */
  width: 100%; /* Full width */
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
}

.navbar-nav .nav-item {
  flex: 1; /* Make each item take equal space */
  text-align: center; /* Center text within each item */
}

.navbar-nav .nav-link {
  color: #f2e5bf;
  font-size: 20px;
  padding: 10px 0; /* Adjust padding for spacing */
  text-align: center;
  text-decoration: none;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: #000000;
  background-color: #5e8891;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  white-space: pre-wrap;
  font-size: 1rem;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
}

footer a {
  color: #CB6040;
  text-decoration: underline;
  margin: 10px 0;
}

footer a:hover {
  text-decoration: underline;
}

footer p {
  margin: 0;
  font-size: 1.2rem;
}


input[type=submit] {
  background-color: #FD8B51;
  border-radius: 5px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding: 12px 20px;
}



.p1 {
  font-size: 1.5rem;
  color: #2a2a2a;
  margin: 3% auto;
  max-width: 100%;
  text-align: center;
  line-height: 1.5;
  padding: 10px;
  word-wrap: break-word;
}

.content {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.welcome {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    text-align: center;
}